@import "./variables";

.checkoutWrapper {
  width: 90%;
  margin: 0 auto;
  padding: 80px 0;

  .goBack {
    padding-bottom: 35px;

    button {
      background: transparent;
      border: none;
      font-weight: 500;
      font-size: 15px;
      color: rgba(0, 0, 0, 0.5);
      cursor: pointer;

      &:hover {
        color: $orange;
      }
    }
  }

  .checkoutContents {
    display: flex;
    justify-content: space-between;

    @media screen and (max-width:768px) {
      flex-direction: column;
    }

    .checkout {
      background-color: $white;
      width: 65%;
      margin-right: 30px;
      border-radius: 10px;
      padding: 55px 45px;

      @media screen and (max-width:768px) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
        padding: 30px;
      }

      h1 {
        font-weight: 700;
        font-size: 32px;
        letter-spacing: 1.14286px;

        @media screen and (max-width:576px) {
          font-size: 28px;
        }
      }

      h3 {
        color: $orange;
        letter-spacing: 0.928571px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 13px;
        margin: 0;
      }

      .input {
        padding: 15px 0;

        .validations {
          display: flex;
          justify-content: space-between;
          align-items: center;

          p {
            font-size: 14px;
            letter-spacing: -0.214286px;
            margin: 0 0 10px 0;

            &:first-child {
              font-weight: 700;
            }

            &:nth-child(2) {
              font-weight: 500;
              color: #CD2C2C;
            }
          }

          p, label {
            font-weight: 700;
            font-size: 14px;
            letter-spacing: -0.214286px;
            margin: 0 0 10px 0;
          }
        }

        input {
          padding: 15px 0 15px 20px;
          border-radius: 8px;
          border: 2px solid $grey;
          font-weight: 700;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.4);

          &:focus {
            outline-color: $orange;
            caret-color: $orange;
          }
        }
      }

      .input2 {
        padding: 15px 0;

        .validations {
          display: flex;
          justify-content: space-between;
          align-items: center;

          p {
            font-size: 14px;
            letter-spacing: -0.214286px;
            margin: 0 0 10px 0;
            color: #CD2C2C;

            &:first-child {
              font-weight: 700;
            }

            &:nth-child(2) {
              font-weight: 500;
              color: #CD2C2C;
            }
          }

          p, label {
            font-weight: 700;
            font-size: 14px;
            letter-spacing: -0.214286px;
            margin: 0 0 10px 0;
          }
        }

        input {
          padding: 15px 0 15px 20px;
          border-radius: 8px;
          border: 2px solid #CD2C2C;
          font-weight: 700;
          font-size: 14px;
          color: rgba(0, 0, 0, 0.4);

          &:focus {
            outline-color: $orange;
            caret-color: $orange;
          }
        }
      }

      .flex {
        display: flex;
        justify-content: space-between;
        // align-items: center;

        @media screen and (max-width:768px) {
          flex-direction: column;
        }

        .inputHalf {
          width: 48%;

          @media screen and (max-width:768px) {
            width: 60%;
          }

          @media screen and (max-width:576px) {
            width: 100%;
          }

          input {
            width: 100%;
          }
        }

        .radio {
          border: 2px solid $grey;
          border-radius: 8px;
          width: 300px;
          margin-bottom: 16px;

          @media screen and (max-width:768px) {
            width: 60%;
          }

          @media screen and (max-width:576px) {
            width: 100%;
          }


          input[type='radio']:after {
            width: 15px;
            height: 15px;
            border-radius: 15px;
            top: -2px;
            left: -1px;
            position: relative;
            background-color: $white;
            content: '';
            display: inline-block;
            visibility: visible;
            border: 1px solid #CFCFCF;
          }

          input[type='radio']:checked:after {
            width: 15px;
            height: 15px;
            border-radius: 15px;
            top: -2px;
            left: -1px;
            position: relative;
            background-color: $orange;
            content: '';
            display: inline-block;
            visibility: visible;
            border: 1px solid #CFCFCF;
          }

          label {
            display: inline-block;
            padding: 15px 0 15px 20px;
            width: 300px;
            margin: 0;
            cursor: pointer;
          }

          input {
            margin-right: 10px;
          }
        }
      }

      .cashMsg {
        align-items: center;
        img {
          width: 60px;
          height: 60px;
        }

        p {
          font-weight: 500;
          font-size: 15px;
          line-height: 25px;
          color: rgba(0, 0, 0, 0.5);
          width: 90%;
        }
      }
    }

    .summary {
      background-color: $white;
      width: 35%;
      border-radius: 10px;
      padding: 45px 25px;
      align-self: baseline;

      @media screen and (max-width:768px) {
        width: 100%;
        padding: 30px;
      }

      h2 {
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 1.28571px;

        @media screen and (max-width:768px) {
          margin: 0;
        }
      }


      .itemListWrapper {
        padding: 30px 0;

        .itemList {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 10px 0;

          // @media screen and (max-width:768px) {
          //   justify-content: align-self;
          // }

          .itemImg {
            width: 30%;

            @media screen and (max-width:768px) {
              width: 20%;
            }

            img {
              width: 100%;
              max-width: 100px;
              border-radius: 15px;
            }
          }

          .itemTxt {
            width: 25%;
            // margin-left: -120px;
            margin-left: 20px;

            @media screen and (max-width:768px) {
              width: 40%;
              // margin-left: 20px;
            }

            .name {
              font-weight: 700;
              font-size: 15px;
              margin: 0;
            }

            .price {
              font-weight: 700;
              font-size: 14px;
              color: rgba(0, 0, 0, 0.5);
              margin: 5px 0 0 0;
            }
          }

          .counter {
            margin-left: auto;
            // display: flex;
            // align-items: center;
            // background-color: $grey;
            // padding: 15px;

            // @media screen and (max-width:768px) {
            //   margin-left: auto;
            // }

            span {
              color: rgba(0, 0, 0, 0.5);
              font-weight: 700;
              font-size: 15px;
              // padding: 0 15px;
              width: 60px;
              text-align: center;
            }
          }
        }
      }

      .total {
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          font-weight: 500;
          font-size: 15px;
          color: rgba(0, 0, 0, 0.5);
        }

        p {
          font-weight: 700;
          font-size: 18px;
          margin: 7px 0;
        }

        .orange {
          color: $orange;
          margin: 25px 0;
        }
      }

      .pay {
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        padding-top: 15px;

        input {
          width: 100%;
          background-color: $orange;
          border: 1px solid $orange;
          color: $white;
          // padding: 15px 55px;
          padding: 15px 0;
          font-weight: 700;
          font-size: 13px;
          text-align: center;
          letter-spacing: 1px;
          cursor: pointer;

          &:hover {
            background-color: $light-orange;
            border: 1px solid $light-orange;
          }
        }
      }
    }
  }
}

.confirmation {
  &Wrapper {
    position: fixed;
    // position: relative;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }

  &Content {

    // background-color: #fff;
    // width: 65%;
    // max-width: 450px;
    // border-radius: 10px;
    margin: 100px auto 40px auto;
    // overflow: scroll;
    background-color: $white;
    width: 90%;
    max-width: 700px;
    overflow: scroll;
    // height: auto;
    max-height: 80vh;
    padding: 45px;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translateY(-50%) translateX(-50%);
    border-radius: 10px;

    @media screen and (max-width:768px) {
      // margin: 0;
      padding: 30px;
    }

    h1 {
      font-weight: 700;
      font-size: 32px;
      letter-spacing: 1.14286px;

      @media screen and (max-width:768px) {
        font-size: 24px;
      }
    }

    .msg {
      font-weight: 500;
      font-size: 15px;
      color: rgba(0, 0, 0, 0.5);
    }

    .orders {
      display: flex;
      justify-content: space-between;

      @media screen and (max-width:768px) {
        flex-direction: column;
      }

      .ordersItems {
        width: 50%;
        // display: flex;
        // justify-content: space-between;
        background-color: $light-grey;
        padding: 24px;
        border-radius: 7px 0 0 7px;

        @media screen and (max-width:768px) {
          width: 100%;
          border-radius: 7px 7px 0 0;
        }

        .details {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-bottom: 10px;

          &Img {
            width: 80px;

            @media screen and (max-width:576px) {
              width: 50px;
            }

            img {
              width: 100%;
              border-radius: 10px;
            }
          }

          &Name {
            width: 45%;

            @media screen and (max-width:768px) {
              margin-left: 20px;
            }

            @media screen and (max-width:576px) {
              margin-left: 10px;
            }

            .name {
              margin: 0;
              font-weight: 700;
              font-size: 15px;
            }

            .price {
              margin: 10px 0 0 0;
              font-weight: 700;
              font-size: 14px;
              color: rgba(0, 0, 0, 0.5);
            }
          }

          &Count {
            @media screen and (max-width:768px) {
              margin-left: auto;
              // position: inherit;
              // transform: none;
            }

            p {
              font-weight: 700;
              font-size: 15px;
              color: rgba(0, 0, 0, 0.5);
              margin: 0;
            }
          }
        }

        .count2 {
          text-align: center;
          hr {
            border-top: 1px solid $grey;
            width: 100%;
          }

          // p {
          //   font-weight: 700;
          //   font-size: 12px;
          //   color: rgba(0, 0, 0, 0.5);
          // }

          button {
            border: none;
            background-color: transparent;
            cursor: pointer;
            font-weight: 700;
            font-size: 12px;
            color: rgba(0, 0, 0, 0.5);

            &:hover {
              color: $orange;
            }
          }
        }
      }

      .ordersTotalWrapper {
        width: 50%;
        background-color: $black;
        border-radius: 0 7px 7px 0;
        position: relative;

        @media screen and (max-width:768px) {
          width: 100%;
          position: inherit;
          border-radius: 0 0 7px 7px;
        }

        .ordersTotal {
          padding-left: 32px;
          position: absolute;
          // top: 50%;
          bottom: 0;
          left: 0;
          transform: translateY(-50%);

          @media screen and (max-width:768px) {
            position: inherit;
            transform: none;
            padding-left: 24px;
          }

          .grandtotal {
            font-weight: 500;
            font-size: 15px;
            color: rgba(255, 255, 255, 0.5);
          }

          .price {
            font-weight: 700;
            font-size: 18px;
            color: $white;
          }
        }
      }
    }

    .backBtn {
      margin-top: 45px;
      width: 100%;

      button {
        display: inline-block;
        width: 100%;
        border: 1px solid $orange;
        background: $orange;
        color: $white;
        font-weight: 700;
        font-size: 13px;
        text-align: center;
        letter-spacing: 1px;
        padding: 15px 0;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          background: $light-orange;
          border: 1px solid $light-orange;
        }
      }
    }
  }
}