@import "./variables";

.featureWrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 160px;
  padding-bottom: 200px;

  @media screen and (max-width:768px) {
    flex-direction: column-reverse;
    padding: 80px 0;
  }

  .featureTxt {
    width: 40%;

    @media screen and (max-width:768px) {
      width: 100%;
      text-align: center;
    }

    h2 {
      color: $black;
      font-weight: 700;
      font-size: 40px;
      line-height: 44px;
      letter-spacing: 1.42857px;
      text-transform: uppercase;

      @media screen and (max-width:576px) {
        font-size: 28px;
        line-height: 38px;
        letter-spacing: 1px;
      }

      span {
        color: $orange;
      }
    }

    p {
      font-weight: 500;
      font-size: 15px;
      line-height: 25px;
      color: rgba(0, 0, 0, 0.5);

      @media screen and (max-width:768px) {
        width: 80%;
        margin: 0 auto;
      }

      @media screen and (max-width:576px) {
        width: 95%;
      }
    }
  }

  .featureImg {
    width: 50%;

    .sizeDesktop {
      display: block;
    }

    .sizeTablet {
      display: none;
    }

    @media screen and (max-width:768px) {
      width: 100%;

      .sizeDesktop {
        display: none;
      }

      .sizeTablet {
        display: block;
      }
    }

    @media screen and (max-width:576px) {
      width: 100%;

      .sizeDesktop {
        display: block;
      }

      .sizeTablet {
        display: none;
      }
    }

    img {
      width: 100%;
    }
  }
}
