@import "./variables";

header {
  background-color: $black2;
  position: sticky;
  top: 0;
  z-index: 100;

  nav {
    width: 90%;
    margin: 0 auto;
    padding: 32px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .linkWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .hamMenu {
      display: none;

      @media screen and (max-width:768px) {
        display: block;
      }

      .menuIcon {
        cursor: pointer;
        padding: 0 25px;
        position: relative;
        user-select: none;

        .navicon {
          background: $white;
          display: block;
          height: 3px;
          position: relative;
          transition: background .2s ease-out;
          width: 18px;

          &::before, &::after {
            background: $white;
            content: '';
            display: block;
            height: 100%;
            position: absolute;
            transition: all .2s ease-out;
            width: 100%;
          }

          &::before {
            top: 8px;
          }

          &::after {
            top: -8px;
          }
        }
      }

      .menuBtn {
        display: none;

        &:checked {
          & ~ .menuIcon .navicon {
            background: transparent;

            &::before {
              transform: rotate(-45deg);
              top:0;
            }

            &::after {
              transform: rotate(45deg);
              top:0;
            }
          }
        }
      }
    }

    .logo {

      img {
        width: 100%;
        height: auto;
      }
      @media screen and (max-width:768px) {
        margin-left: -50%;
      }

      @media screen and (max-width:576px) {
        margin-left: 0;
      }
    }

    .linksWrapper {
      @media screen and (max-width:768px) {
        display: none;
      }

      .links {
        margin: 0;
        padding: 0;
        display: flex;

        li {
          list-style-type: none;
          padding-right: 34px;

          a {
            text-decoration: none;
            color: $white;
            font-size: 13px;
            font-weight: 700;
            letter-spacing: 2px;
            cursor: pointer;

            &:hover {
              color: $orange;
            }
          }
        }
      }
    }

    .cart {
      text-decoration: none;
      border: none;
      background-color: transparent;
      cursor: pointer;

      &:hover {
        svg {
          path {
            fill: $orange;
          }
        }
      }
    }
  }

  .modalMenu {
    position: fixed;
    z-index: 0;
    left: 0;
    top: 95px;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

    .modalItemsWrapper {
      background-color: $white;
      height: 350px;
      padding: 0 3%;

      @media screen and (max-width:576px) {
        height: 100%;
        overflow: scroll;
        padding-bottom: 20px;
      }

      .items {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 120px;

        @media screen and (max-width:576px) {
          flex-direction: column;
          padding-top: 170px;
        }

        @media screen and (max-width:375px) {
          padding-top: 150px;
        }

        .item {
          width: calc(95% / 3);
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: $grey;
          text-align: center;
          border-radius: 8px;
          height: 190px;

          @media screen and (max-width:576px) {
            width: 90%;
            margin-bottom: 130px;
          }

          @media screen and (max-width:375px) {
            margin-bottom: 110px;
          }

          .itemImg {
            position: absolute;
            left: 50%;
            bottom: 100px;
            transform: translateX(-50%);
            width: 37%;
            max-width: 170px;
            min-width: 140px;
            text-align: center;

            img {
              width: 100%;
              height: auto;
            }
          }

          .itemLink {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);

            p {
              font-weight: 700;
              font-size: 15px;
              letter-spacing: 1.07143px;
              color: $black;
              margin: 0 0 13px 0;
            }

            a {
              font-weight: 700;
              font-size: 13px;
              letter-spacing: 1px;
              color: rgba(0, 0, 0, 0.5);
              cursor: pointer;
              text-decoration: none;

              &:hover {
                color: $orange;
              }

              svg {
                margin-left: 12px;
              }
            }
          }
        }
      }
    }
  }
}