@import "./variables";

.newItemWrapper {
  background-color: $black2;
  // @media screen and (max-width:768px) {
  //   position: relative;
  // }
}

.newItem {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 1000px) {
    padding: 40px 0;
  }
  @media screen and (max-width:768px) {
    width: 100%;
    height: auto;
    padding: 0;
    // display: block;
    position: relative;
  }
}

.newItemMsg {
  width: 50%;
  @media screen and (max-width:768px) {
    width: 100%;
    position: absolute;
    z-index: 10;
    // top: 0;
    // left: 0;
    // bottom: 0;
    // right: 0;
    // margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    // margin: auto;
  }

  .newProduct {
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
    letter-spacing: 10px;
    margin: 0 0 24px 0;
    @media screen and (max-width:576px) {
      margin: 0 0 16px 0;
    }
  }

  h1 {
    font-weight: 700;
    font-size: 56px;
    color: $white;
    letter-spacing: 2px;
    line-height: 58px;
    margin: 0;
    text-transform: uppercase;
    word-break: break-word;
    @media screen and (max-width:576px) {
      font-size: 36px;
      line-height: 40px;
    }
  }

  .newProductTxt {
    padding-top: 24px;
    padding-bottom: 40px;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.5);
    width: 60%;
    margin: 0;
    @media screen and (max-width:768px) {
      width: 50%;
      margin: 0 auto;
    }
    @media screen and (max-width:576px) {
      width: 90%;
    }
  }

  .newProductLink {

    a {
      display: inline-block;
      background-color: $orange;
      padding: 15px 30px;
      color: $white;
      font-size: 13px;
      font-weight: 700;
      letter-spacing: 1px;
      cursor: pointer;
      text-decoration: none;

      &:hover {
        background-color: $light-orange;
      }
    }
  }
}

.newItemImg {
  width: 50%;
  height: auto;
  @media screen and (max-width:768px) {
    width: 100%;
    background-color: $black2;
    display: inline-block;
  }

  img {
    width: 100%;
    height: auto;

    @media screen and (max-width:768px) {
      display: block;
      opacity: 0.3;
    }

    @media screen and (max-width:576px) {
      height: 500px;
      object-fit: cover;
    }
  }
}

.productsWrapper {
  width: 80%;
  margin: 0 auto;
  @media screen and (max-width:768px) {
    width: 95%;
  }

  .zx9 {
    background-color: $orange;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 50px;

    // &:before {
    //   content: "";
    //   display: inline-block;
    //   height: 400px;
    //   background-color: $orange;
    //   border: 2px solid $light-orange;
    //   border-radius: 50%;
    //   z-index: 1;
    // }

    @media screen and (max-width:768px) {
      flex-direction: column;
      text-align: center;
    }

    .zx9Img {
      // position: relative;
      width: 60%;
      text-align: center;
      // padding-top: 90px;
      @media screen and (max-width:768px) {
        padding: 50px 0;
        width: 80%;
      }

      @media screen and (max-width:375px) {
        width: 100%;
      }

      img {
        width: 60%;
        max-width: 500px;
        margin-bottom: -5px;
      }
    }

    .zx9Txt {
      width: 40%;
      margin: 20px 20px 20px 0;
      @media screen and (max-width:768px) {
        width: 100%;
        margin: 0;
      }

      h2 {
        font-size: 56px;
        font-weight: 700;
        letter-spacing: 2px;
        line-height: 58px;
        color: $white;
        margin: 0;

        @media screen and (max-width:576px) {
          font-size: 36px;
          line-height: 40px;
          letter-spacing: 1.28571px;
        }
      }

      p {
        // width: 60%;
        max-width: 90%;
        color: $white;
        font-size: 15px;
        font-weight: 500;
        line-height: 25px;
        margin: 24px 0 56px 0;
        opacity: 0.75;

        @media screen and (max-width:768px) {
          width: 60%;
          margin: 0 auto;
          padding: 25px 0;
        }

        @media screen and (max-width:576px) {
          width: 90%;
        }
      }
    }

    .zx9Link {
      @media screen and (max-width:768px) {
        margin: 25px 0 50px 0;
      }

      a {
        display: inline-block;
        background-color: $black;
        padding: 15px 30px;
        color: $white;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 1px;
        cursor: pointer;
        text-decoration: none;

        &:hover {
          background-color: $light-black;
        }
      }
    }
  }
}

.zx7 {
  position: relative;
  width: 100%;
  // height: auto;
  // background: url("../images/products/zx7-speaker.png") no-repeat 0 0 !important;
  background-size: 100%;
  border-radius: 8px;
  margin-bottom: 50px;

  .zx7bg1 {
    display: block;
    width: 100%;
    border-radius: 8px;
  }

  .zx7bg2 {
    display: none;
  }

  .zx7bg3 {
    display: none;
  }

  @media screen and (max-width:768px) {
    .zx7bg1 {
      display: none;
    }

    .zx7bg2 {
      display: block;
      width: 100%;
    }

    .zx7bg3 {
      display: none;
    }
  }

  @media screen and (max-width:576px) {
    .zx7bg1 {
      display: none;
    }

    .zx7bg2 {
      display: none;
    }

    .zx7bg3 {
      display: block;
      width: 100%;
    }
  }

  .zx7Txt {
    position: absolute;
    // top: 0;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    // padding: 8% 0 10% 6%;

    @media screen and (max-width:768px) {
      // padding: 15% 0 15% 6%;
    }

    @media screen and (max-width:576px) {
      // padding: 20% 0 20% 6%;
    }

    h3 {
      font-weight: 700;
      font-size: 28px;
      letter-spacing: 2px;
      color: $black;
      margin: 0;
    }

    .zx7Link {
      margin-top: 42px;

      a {
        display: inline-block;
        background-color: transparent;
        border: 1px solid $black;
        padding: 15px 30px;
        color: $black;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 1px;
        cursor: pointer;
        text-decoration: none;

        &:hover {
          background-color: $black;
          color: $white;
        }
      }
    }
  }
}

.yx1 {
  display: flex;
  // align-items: stretch;
  justify-content: space-between;
  margin-bottom: 50px;

  @media screen and (max-width:576px) {
    flex-direction: column;
  }

  .yx1Img {
    width: 50%;
    height: auto;
    // margin-right: 30px;

    @media screen and (max-width:576px) {
      width: 100%;
    }

    img {
      width: 100%;
    }
  }

  .yx1Txt {
    display: flex;
    align-items: center;
    background-color: $grey;
    width: 47%;
    border-radius: 8px;
    // position: relative;

    @media screen and (max-width:576px) {
      width: 100%;
      margin-top: 24px;
    }

    .yx1TxtPosition {
      width: 100%;
      padding-left: 40px;
      // position: absolute;
      // top: 50%;
      // left: 20%;
      // transform: translate(-20%,-50%);

      @media screen and (max-width:576px) {
        padding: 40px 24px;
      }
    }

    h3 {
      font-weight: 700;
      font-size: 28px;
      letter-spacing: 2px;
      color: $black;
      margin: 0;
      // padding-top: 18%;
      // padding-left: 10%;
    }

    .yx1Link {
      margin-top: 42px;

      a {
        display: inline-block;
        background-color: transparent;
        border: 1px solid $black;
        padding: 15px 30px;
        color: $black;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 1px;
        cursor: pointer;
        text-decoration: none;

        &:hover {
          background-color: $black;
          color: $white;
        }
      }
    }
  }
}